/* Variables */
:root {
  --primary: #8c38ff;
  --light: #fff;
  --dark: #212121;
  --background: #fff;
}

/* Setting defaults for website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Calibri, sans-serif;
}

main {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #1f5cf4;
}

a:hover {
  color: #7a9df2;
}
