/* Variables */
:root {
  --primary: #8c38ff;
  --light: #fff;
  --dark: #212121;
  --background: #fff;
}

/* Setting defaults for website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}
