#corporate-headshot-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 16px;
}

#corporate-headshot {
  object-fit: cover;
  object-position: 0px -3.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
