#corporate-headshot-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 16px;
}

#corporate-headshot {
  object-fit: cover;
  object-position: 0px -3.5rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
#cv-resume {
  padding-left: 32px;
  padding-right: 32px;
}
#cnooc-logo {
  width: 15rem;
}

#clearwater-logo {
  width: 15rem;
}
