# Enable the rewrite engine
RewriteEngine on

# Prevent Hotlinking
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)timmyzhou.com/.*$ [NC]
#RewriteRule \.(gif|jpg|jpeg|bmp|zip|rar|mp3|flv|swf|xml|php|png|css|pdf|html|docx)$ - [F]

# Remove html file extension from webpages
# RewriteEngine On (Only need to specify this once - above)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=301]