#homepage-main-image-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 16px;
}

#isle-of-skye-swimming {
  object-fit: cover;
  width: 100%;
  height: 91vh;
  object-position: 48% 65%;
}

#title-text {
  position: relative;
  top: -24vh;
  user-select: none;
  color: var(--light);
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}
