#tim-waffle-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding-top: 16px;
}

#tim-waffle-photo {
  object-fit: cover;
  object-position: 0px -2rem;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}

#main-content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  align-items: flex-start;
}

p {
  margin-bottom: 1.5rem;
  text-align: justify;
  width: 80vw;
}

h2 {
  align-self: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Settings when width is larger than 768 pixels (when standard rem - 16px used)*/
@media (min-width: 48rem) {
  #main-content {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
