#tim-waffle-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 16px;
}

#tim-waffle-photo {
  object-fit: cover;
  object-position: 0px -2rem;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  align-items: center;
}

p {
  margin-bottom: 1.5rem;
  text-align: justify;
  width: 26rem;
}
